*.tgz
Chart.lock
/src/EventLibrary/obj
/.vs/OnboardingConsumer/FileContentIndex
/OrderServiceDesign/obj
/OrderServiceDesign.BusinessLayer/obj
/OrderServiceDesign.Common/obj
/OrderServiceDesign.DataAccessLayer/obj
/OrderServiceDesign.Domain/obj
/OrderServiceDesign.EmailNotification/obj
/OrderServiceDesign.Logger/obj
/OrderServiceDesign.NotificationBase/obj
/OrderServiceDesign.SMSNotification/obj
/OrderServiceDesign/bin
/OrderServiceDesign.BusinessLayer/bin
/OrderServiceDesign.Common/bin
/OrderServiceDesign.DataAccessLayer/bin
/OrderServiceDesign.Domain/bin
/OrderServiceDesign.EmailNotification/bin
/OrderServiceDesign.Logger/bin
/OrderServiceDesign.NotificationBase/bin
/OrderServiceDesign.SMSNotification/bin
/.vs/OnboardingConsumer/v17
.vs/OrderServiceDesign/DesignTimeBuild/.dtbcache.v2
.vs/OrderServiceDesign/v17/.suo
.vs/OrderServiceDesign/v17/DocumentLayout.json
.vs/OrderServiceDesign/FileContentIndex/
.vs/OrderServiceDesign/v17/.futdcache.v2